# =============================================================================
# cluster.json
# =============================================================================

CLUSTER_NAME=your_cluster_name_here
OPENSHIFT_VERSION=4.20.8
CPU_ARCH=x86_64
BASE_DOMAIN=ocp.example.com
CLUSTER_NETWORK_CIDR=10.128.0.0/14
CLUSTER_NETWORK_HOST_PREFIX=23
SERVICE_NETWORK_CIDR=172.30.0.0/16
MACHINE_NETWORK_GATEWAY=10.48.54.1/25
ISO=full
NTP=pool.ntp.org
DNS_IP=144.254.1.1
DNS_SEARCH=example.com

# =============================================================================
# proxy.json
# =============================================================================

HTTP_PROXY=http://your-proxy.company.com:80
HTTPS_PROXY=http://your-proxy.company.com:80
NO_PROXY=example.com

# =============================================================================
# redfish.json
# =============================================================================

IMC_USERNAME=admin
IMC_PASSWORD=your_imc_password_here

# =============================================================================
# server.json
# =============================================================================

ENDPOINT_TYPE=fi
INVENTORY_ID=Domain7-1-1
ENDPOINT_IP=10.48.54.77
DESIRED_OS_IP_ADDRESS=10.48.54.121
VLAN=54
SERVER_INTERFACE_NAME=eno5
SERVER_INTERFACE_MAC=00:25:B5:00:00:01
NMSTATE=single.yaml

# =============================================================================
# web.json
# =============================================================================

WEB_USERNAME=admin
WEB_PASSWORD=your_web_password_here
WEB_IP=10.48.54.12
IMAGE_BASE_URL=http://your-web-server.company.com:8033/ocp-images
IMAGE_UPLOAD_DIRECTORY=/root/files