#cloud-config
autoinstall:
  version: 1
  proxy: "${PROXY_URL}"
  apt:
    proxy: ${PROXY_URL}
    fallback: continue-anyway
    preserve_sources_list: true
  early-commands:
    - systemctl stop ssh
    # Create the proxy configuration file directly in the target environment
    - mkdir -p /target/etc/apt/apt.conf.d/
    - echo 'Acquire::http::Proxy "${PROXY_URL}/";' > /target/etc/apt/apt.conf.d/80proxy
    - echo 'Acquire::https::Proxy "${PROXY_URL}/";' >> /target/etc/apt/apt.conf.d/80proxy
  # Configure the network
  network:
    network:
      version: 2
      ethernets:
        ${SERVER_INTERFACE}:
          dhcp4: false
          addresses: [${SERVER_IP_ADDRESS}]
          routes:
            - to: default
              via: ${SERVER_GATEWAY}
          nameservers:
            addresses: [${PRIMARY_DNS}]
  storage:
    layout:
      name: direct
    config:
      - {ptable: gpt, wipe: superblock-recursive, preserve: false, name: '', grub_device: true, type: disk, id: disk0}
      - {device: disk0, size: 512M, wipe: superblock, flag: boot, number: 1, preserve: false, grub_device: true, type: partition, id: partition-0}
      - {fstype: fat32, volume: partition-0, preserve: false, type: format, id: format-0}
      - {device: disk0, size: -1, wipe: superblock, flag: '', number: 2, preserve: false, type: partition, id: partition-1}
      - {fstype: ext4, volume: partition-1, preserve: false, type: format, id: format-1}
      - {device: format-1, path: /, type: mount, id: mount-1}
      - {device: format-0, path: /boot/efi, type: mount, id: mount-0}
  identity:
    hostname: ${SERVER_HOSTNAME}
    password: "$$6$$OZb4WaFhrQXMUob9$$CXYXWOdL0QfB4DYdZNMRDo1Kf/GiSWMoAsZbd70nZmvxrLXTlHHe3ivYgGYOVDd4c6Zt4mRpYYo0OOZRoMhQt0"
    username: ubuntu
  user-data:
    disable_root: false
    timezone: ${SERVER_TIMEZONE}
  late-commands:
    - OS_INSTALL_COMPLETED_STATUS_PLACEHOLDER
    # Reorder boot entries: Remove SCU entry ## Need to check if the boot order policy can be simplified
    - curtin in-target --target=/target -- efibootmgr -b 0000 -B
    - sudo systemctl start ssh
  packages:
    - net-tools
    - network-manager
    - build-essential
    - python3-pip
    - sysstat
    - nvtop
  package_update: true
  package_upgrade: true
  ssh:
    allow-pw: true
    install-server: yes